{% extends 'base.html'%}
{% load static %}
{% block actualizarproveedor %}

<form method="POST">
{% csrf_token %}
<div class="row fila2 rounded mb-1">
<div class ="col-1 columna1 rounded "  >
    </div> 
<div class ="col-6 columna2 rounded mt-2 "style="background-image:url({% static 'img/fondoform.png' %});">
   <div class="row fila1 justify-content-center mb-1 mt-2" >
   <div class ="col columna1 ">
   <h2>Modificación de Proveedores</h2>
</div>
</div>
<div class="row fila3 justify-content-left mb-1" > 
<div class =" col-4 columna1   rounded ">    
   <label for="{{form.nombre_proveedor.name}}">{{form.nombre_proveedor.label}}</label>
  </div>
   <div class =" col-6 columna2  rounded ">     
      {{form.nombre_proveedor}}
   </div> 
</div>  
  
<div class="row fila4 justify-content-left mb-1" > 
<div class =" col-4 columna1   rounded ">    
  <label for="{{form.direccion_proveedor.name}}">{{form.direccion_proveedor.label}}</label>  
</div>
<div class =" col-6 columna2   rounded ">
{{form.direccion_proveedor}}  
</div>
</div>       
    
<div class="row fila5  mb-1" > 
  <div class =" col-4 columna1   rounded ">    
  <label for="{{form.telefono_proveedor.name}}">{{form.telefono_proveedor.label}}</label>   
  </div>
  <div class =" col-3 columna2   rounded ">
  {{form.telefono_proveedor}}
  </div>
  </div> 

  <div class="row fila6  mb-1" > 
     <div class =" col-4 columna1   rounded ">    
        <label for="{{form.nit_proveedor.name}}">{{form.nit_proveedor.label}}</label>
     </div>
     <div class =" col-3 columna2   rounded ">
        {{form.nit_proveedor}}
     </div>
     </div>

     <div class="row fila7 justify-content-left mb-1" > 
        <div class =" col-4 columna1   rounded ">    
           <label for="{{form.estado.name}}">{{form.estado.label}} 
         
             
        </div>
        <div class =" col-3 columna2   rounded ">
           {{form.estado}}
        </div>
        </div>    
       
     <div class="row fila8 justify-content-left mb-1" > 
        <div class =" col-4 columna1   rounded ">    
           <label for="{{form.prefijo.name}}">{{form.prefijo.label}}</label> 
        </div>
        <div class =" col-3 columna2   rounded ">
           {{form.prefijo}}
        </div>
        </div>  
      
        <div class="row fila9 justify-content-left mb-1" > 
           <div class =" col-4 columna1   rounded ">    
              <label for="{{form2.nombre_persona.name}}">{{form2.nombre_persona.label}}</label>  
           </div>
           <div class =" col-6 columna2   rounded ">
              {{form2.nombre_persona}}
           </div>
           </div>   
     
       
           <div class="row fila10 justify-content-left mb-1" > 
              <div class =" col-4 columna1   rounded ">    
                 <label for="{{form2.apellido_persona.name}}">{{form2.apellido_persona.label}}</label> 
              </div>
              <div class =" col-6 columna2   rounded ">
               {{form2.apellido_persona}}
              </div>
              </div>    
  
              <div class="row fila11 justify-content-left mb-1" > 
                 <div class =" col-4 columna1   rounded ">    
                    <label for="{{form2.direccion_persona.name}}">{{form2.direccion_persona.label}}</label>
                 </div>
                 <div class =" col-6 columna2   rounded ">
                    {{form2.direccion_persona}}
                 </div>
                 </div>   
       
                 <div class="row fila12 justify-content-left mb-1" > 
                    <div class =" col-4 columna1   rounded ">    
                       <label for="{{form2.nit_persona.name}}">{{form2.nit_persona.label}}</label>
                    </div>
                    <div class =" col-3 columna2 rounded">
                      {{form2.nit_persona}}
                                      
                    </div>
                    </div> 
    
                    <div class="row fila13 justify-content-left mb-1" > 
                       <div class =" col-4 columna1   rounded ">    
                          <label for="{{form2.telefono_persona.name}}">{{form2.telefono_persona.label}}</label>
                       </div>
                       <div class =" col-3 columna2   rounded ">
                          {{form2.telefono_persona}}
                       </div>
                       </div> 

                       <div class="row fila13 justify-content-center mb-1 mt-5" > 
                        <div class =" col-4  columna1   rounded ">    
                          <button type="submit" class="btn btn-success">Guardar Cambios</button>
                        </div>
                        <div class =" col-3  columna2 block-content-end   rounded ">
                           <a class= "btn btn-warning" href="{% url 'Index' %}">Regresar</a>
                        </div>
                     </div>


              
                            <div class="row fila15 justify-content-center mb-1 mt-5" > 
                                <div class =" col columna1 mb-0  rounded ">    
                                </div>
                                </div> 
</div>
 
<div class="col-4 columna4 mt-2">
   <img src="{% static 'img/proveedores.png' %}" class="img-fluid rounded float-end" alt="Cinque Terre">
</div>
</div>
</form>
{% endblock %}
