{%extends 'base.html' %}
{% block listaproveedor %}
{% load static %}

<form method="POST">
{% csrf_token %}

<h5>¿Desea realmente borrar el producto?: {{productos.id}} {{productos.nombre_producto}}</h5>

<div class="row fila13 justify-content-center mb-1 mt-5" > 
    <div class =" col-2  columna1   rounded ">    
      <button type="submit" class="btn btn-secondary"href="{% url 'borrar_productos' productos.id %}">Borrar Producto</button>
    </div>
<div class =" col-3  columna2 block-content-end   rounded ">
    <a class= "btn btn-secondary" href="{% url 'buscar_productos_delete' %}">Cancelar</a>
     </div>
 </div> 
</form>
{% endblock %}